@model ITS.UI.ModelViews.CareTrackingVM

@{
    ViewBag.Title = "Baxım izləmə haqqında detay ekranı";
    Layout = "";
}

<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        /*        border: 1px solid black;*/
        padding: 15px !important;
        text-align: left;
    }

    th {
        background-color: #2dc3e8;
        /*  color: white;*/
    }

    .section-header {
        color: #cf8a05;
        font-size: 31px;
        font-weight: 800;
    }

    .hrstyle {
        height: 3px;
        border-width: 0;
        background-color: #cf8a05
    }
</style>
<!--Header-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
    </button>
    @Html.ActionLink("Çap et", "Print", "CareTracking", new { id = Model.ID }, new { @class = "btn btn-primary" })

</div>
<!--Body-->
<div class="modal-body">


    <div class="clearfix"></div>
    <div class="col-md-12 text-center">
        <hr class="hrstyle">
        <h1>
            <span class="section-header">Baxım izləmə məlumatları</span>
        </h1>
        <table class="table table-hover">
            <tbody>

                <tr>
                    <th>Sıra №-si</th>
                    <th>Parametrləri</th>
                    <th>Dəyərləri</th>
                </tr>
                <tr>
                    <td scope="row">1</td>
                    <td>@Html.LabelFor(model => model.CareDate, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.CareDate</td>
                </tr>


                <tr>
                    <td scope="row">2</td>
                    <td>@Html.LabelFor(model => model.BusinessCenterID, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.BusinessCenterDesc</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>@Html.LabelFor(model => model.MachineGroupID, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.MachineGroupDesc</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>@Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.MachineDesc</td>
                </tr>
                <tr>
                    <td scope="row">5</td>
                    <td>@Html.LabelFor(model => model.CareDescription, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.CareDescription</td>
                </tr>
                <tr>
                    <td scope="row">6</td>
                    <td>@Html.LabelFor(model => model.CareType, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.CareTypeDesc</td>
                </tr>
                <tr>
                    <td scope="row">7</td>
                    <td>@Html.LabelFor(model => model.PlanedCareType, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.PlanedCareTypeDesc</td>
                </tr>
                <tr>
                    <td scope="row">8</td>
                    <td>@Html.LabelFor(model => model.CareTeamType, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.CareTeamTypeDesc</td>
                </tr>
                <tr>
                    <td scope="row">9</td>
                    <td>@Html.LabelFor(model => model.ResultType, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.ResultTypeDesc</td>
                </tr>
                <tr>
                    <td scope="row">10</td>
                    <td>@Html.LabelFor(model => model.ResultDescription, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Model.ResultDescription</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-12 text-center">
        <hr class="hrstyle">
        <h1>
            <span class="section-header">Detay məlumatları</span>
        </h1>
        <table class="table table-hover">
            <tr style="border:1px">
                <th>Sıra №-si</th>
                <th>@Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })</th>
                <th>@Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label" })</th>
                <th>@Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })</th>
                <th>@Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label" })</th>
                <th>@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })</th>
                <th>@Html.LabelFor(model => model.MechanicID, htmlAttributes: new { @class = "control-label" })</th>
                <th>@Html.LabelFor(model => model.ReceivingPersonID, htmlAttributes: new { @class = "control-label" })</th>

            </tr>
            @{ int rowNumberCTD = 1;
                foreach (var item in Model.RCareTrackingDetailList)
                {
                    <tr>

                        <td>
                            @rowNumberCTD
                        </td>
                        <td>
                            @item.StartDate
                        </td>
                        <td>
                            @item.StartTime
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                        <td>
                            @item.EndTime
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.MechanicSAA
                        </td>
                        <td>
                            @item.ReceivingPersonSAA
                        </td>
                    </tr>
                    rowNumberCTD = rowNumberCTD + 1;
                }
            }
        </table>
    </div>


</div>
<!--Footer-->
<div class="modal-footer">
    <br />
    <button type="button" class="btn btn-primary" data-dismiss="modal">Bağla</button>

</div>
