
@model ITS.UI.ModelViews.CareTrackingVM
@{
    ViewBag.Title = "Baxım izləmə detay redakte  ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .ui-timepicker-div .ui-widget-header {
            margin-bottom: 8px;
        }

        .ui-timepicker-div dl {
            text-align: left;
        }

            .ui-timepicker-div dl dt {
                height: 25px;
                margin-bottom: -25px;
            }

            .ui-timepicker-div dl dd {
                margin: 0 10px 10px 65px;
            }

        .ui-timepicker-div td {
            font-size: 90%;
        }

        .ui-tpicker-grid-label {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
        }
    </style>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">


            <div class="col-md-4">
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.CareTrackingDetailID)
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", tabindex = 1 } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", tabindex = 2 } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", tabindex = 3 } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", tabindex = 4 } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", tabindex = 5 } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.MechanicID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.MechanicID, new SelectList(Model.MechanicList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 6 })
                @Html.ValidationMessageFor(model => model.MechanicID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.ReceivingPersonID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.ReceivingPersonID, new SelectList(Model.ReceivingPersonList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 7 })
                @Html.ValidationMessageFor(model => model.ReceivingPersonID, "", new { @class = "text-danger" })
            </div>
            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 control-label">
                @Html.ActionLink("Listə Geri Dön", "Index", "CareTracking", null, new { @class = "btn btn-primary btn-lg btn-block" })

            </div>
            <div class="col-md-6 control-label">
                <input id="frmEmployee" type="submit" value="Dəyiş" class="btn btn-primary btn-lg btn-block" tabindex="16" />

            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $('#StartTime').timepicker({});
        $('#EndTime').timepicker({});

    </script>

}