@model ITS.UI.ModelViews.CareTrackingVM
@{
    ViewBag.Title = "Baxım izləmə əlavə edilməsi ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="row">

            <div class="col-md-4">
                @Html.HiddenFor(model => model.ID)
                @Html.LabelFor(model => model.CareDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CareDate, new { htmlAttributes = new { @class = "form-control", tabindex = 1 } })
                @Html.ValidationMessageFor(model => model.CareDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.BusinessCenterID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.BusinessCenterID, new SelectList(Model.BusinessCenterList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 2 })
                @Html.ValidationMessageFor(model => model.BusinessCenterID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.MachineGroupID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.MachineGroupID, new SelectList(Model.MachineGroupList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 3 })
                @Html.ValidationMessageFor(model => model.MachineGroupID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.MachineID, new SelectList(Model.MachineList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 4 })
                @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.CareDescription, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CareDescription, new { htmlAttributes = new { @class = "form-control", tabindex = 5 } })
                @Html.ValidationMessageFor(model => model.CareDescription, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.CareType, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.CareType, new SelectList(Model.CareTypeList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 6 })
                @Html.ValidationMessageFor(model => model.CareType, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.PlanedCareType, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.PlanedCareType, new SelectList(Model.PlanedCareTypeList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 7 })
                @Html.ValidationMessageFor(model => model.PlanedCareType, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.CareTeamType, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.CareTeamType, new SelectList(Model.CareTeamTypeList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 8 })
                @Html.ValidationMessageFor(model => model.CareTeamType, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.ResultType, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.ResultType, new SelectList(Model.ResultTypeList, "Value", "Text"), htmlAttributes: new { @class = "select2 form-control", tabindex = 9 })
                @Html.ValidationMessageFor(model => model.ResultType, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.ResultDescription, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ResultDescription, new { htmlAttributes = new { @class = "form-control", tabindex = 10 } })
                @Html.ValidationMessageFor(model => model.ResultDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 control-label">
                @Html.ActionLink("Listə Geri Dön", "Index", "CareTracking", null, new { @class = "btn btn-primary btn-lg btn-block" })
            </div>
            <div class="col-md-6 control-label">
                <input id="frmPosition" type="submit" value="Dəyiş" class="btn btn-primary btn-lg btn-block" tabindex="9" />
            </div>
        </div>
    </div>
}



