@model ITS.UI.ModelViews.CareTrackingVM
@{
    ViewBag.Title = "Baxım izləmə siyahisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">


        <div class="clearfix"></div><br />

        <div class="well bs-component">

            <a class="btn btn-warning pull-right btn-icon" href="@Url.Action("Create","CareTracking")"><span class="fa fa-plus"></span> Əlavə et</a>
            <a class="btn btn-primary pull-left fa fa-file-excel-o " href="@Url.Action("DownloadExcel","ExcellOperation")"><span class="glyphicon glyphicon-download-alt"></span> Yüklə</a>
            <div class="clearfix"></div>
            <div class="table-responsive">
                <table class="table table-bordered" style="margin:0;">
                    <tbody>
                        <tr>
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color: gainsboro;">
                                @Html.DisplayNameFor(model => model.CareDate)
                            </th>
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color: gainsboro;">
                                @Html.DisplayNameFor(model => model.BusinessCenterID)
                                <input onkeyup="Search(this, 'CareTracking', 'Index', 'BusinessCenterName')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color: gainsboro;">
                                @Html.DisplayNameFor(model => model.MachineGroupID)
                                <input onkeyup="Search(this, 'CareTracking', 'Index', 'MachineGroupName')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color: gainsboro;">
                                @Html.DisplayNameFor(model => model.MachineID)
                                <input onkeyup="Search(this, 'CareTracking', 'Index', 'MachineName')" class="form-control" placeholder="axtar" />
                            </th>
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color: gainsboro;">
                                @Html.DisplayNameFor(model => model.CareDescription)
                            </th>
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color: gainsboro;">
                                @Html.DisplayNameFor(model => model.CareType)
                            </th>
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color: gainsboro;">
                                @Html.DisplayNameFor(model => model.PlanedCareType)
                            </th>
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color: gainsboro;">
                                @Html.DisplayNameFor(model => model.CareTeamType)
                            </th>
                       
                            <th class="col-md-1" style="font-size:14px; text-align:center; vertical-align:middle; background-color:gainsboro;">
                                Redaktə et
                                </br>
                                Sil
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div id="AjaxPaginationList">
                    @Html.Partial("PartialIndex")
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/pagedList.js"></script>




