@model ITS.UI.ModelViews.CareTrackingVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}




<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="label label-danger pull-right badgemargin">@Model.ListCount</span>
</div>

<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model.RCareTrackingList)
        {
        <tr>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.CareDate)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.BusinessCenterName)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.MachineGroupName)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.MachineName)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.CareDescription)
            </td>
            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.CareTypeDesc)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.PlanedCareTypeDesc)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.CareTeamTypeDesc)
            </td>
        
            <td class="col-md-1 shsingle text-center" style="font-size:16px;">
                <a class="btn btn-xs primary" title="Redaktə et" href="@Url.Action("Edit","CareTracking", new { id = item.CareTrackingID})"><span class="fa fa-pencil"></span></a>
                <span title="Sil"> @Html.ActionLink(" ", "Delete", "CareTracking", new { id = item.CareTrackingID }, new { @onclick = "return confirm('Silmək istədiyinizə əminsinizmi?.');", @class = "btn btn-xs glyphicon glyphicon-trash primary" })</span>
                <a class="btn btn-xs primary" data-toggle="tooltip" onclick="createModal('@Url.Action("Detail","CareTracking", new { careTrackingID = item.CareTrackingID})')"><span title="Detallara bax" class="fa fa-info"></span></a>
                <a class="btn btn-xs primary" data-toggle="tooltip" title="Detay listəsi" href="@Url.Action("CareTrackingDetailIndex","CareTracking", new { careTrackingID = item.CareTrackingID})"><span class="fa fa-table"></span></a>
            </td>

        </tr>
        }
    </tbody>
</table>

<div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>
<div class="box-footer clearfix">
    Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
    @Html.PagedListPager(Model.Paging, page => Url.Action("Index", new { page }))
</div>


<script>
    function createModal(url) {
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }
</script>



