@model ITS.UI.ModelViews.PersonVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}




<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="label label-danger pull-right badgemargin">@Model.ListCount</span>
</div>

<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model.RPersonList)
        {
        <tr>
            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.PIN)
            </td>
            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.GenderTypeDesc)
            </td>
            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.PersonTypeDesc)
            </td>
            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td class="col-md-1" align="center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td class="col-md-2 shsingle text-center" style="font-size:16px;">
                <a class="btn btn-xs primary" title="Redaktə et" href="@Url.Action("Edit","Person", new { id = item.ID})"><span class="fa fa-pencil"></span></a>
                <span title="Sil"> @Html.ActionLink(" ", "Delete", "Person", new { id = item.ID }, new { @onclick = "return confirm('Silmək istədiyinizə əminsinizmi?.');", @class = "btn btn-xs primary glyphicon glyphicon-trash" })</span>
          
            </td>

        </tr>
        }
    </tbody>
</table>


<div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>

<div class="box-footer clearfix">
    Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
    @Html.PagedListPager(Model.Paging, page => Url.Action("Index", new { page }))
</div>

<script>
    function createModal(url) {
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }
</script>







