
@model ITS.UI.ModelViews.AccessRightVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<div class="col-sm-1 col-sm-offset-11" style="position: absolute;">
    <span class="label label-danger pull-right badgemargin">@Model.ListCount</span>
</div>

<table class="table table-bordered">
    <tbody>

        @if (Model.RAccessRightsDTOList != null)
        {
            foreach (var item in Model.RAccessRightsDTOList)
            {
                <tr>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.ContollerDescription)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.ActionDescription)
                    </td>
                    <td class="col-md-2" style="text-align: center;">
                        @{
                            if (item.AccessRightObj.HasAccess == 1)
                            {
                                Write("Bəli");
                            }
                            else if (item.AccessRightObj.HasAccess == 0)
                            {
                                Write("Xeyr");
                            }
                        }
                    </td>
                    <td class="col-md-1 shsingle text-center" style="font-size:16px;">
                        <a class="btn btn-xs" data-toggle="tooltip" href="@Url.Action("Edit","AccessRight", new { id = item.AccessRightObj.ID})"><span title="Redaktə et" class="fa fa-pencil"></span></a>
                        <span title="Sil"> @Html.ActionLink(" ", "Delete", "AccessRight", new { id = item.AccessRightObj.ID, userId = item.AccessRightObj.UserId }, new { @onclick = "return confirm('Silmək istədiyinizə əminsinizmi');", @class = "btn btn-xs fa fa-trash-o" })</span>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>



<div class="box-footer clearfix">
    Səhifə @(Model.Paging.PageCount < Model.Paging.PageNumber ? 0 : Model.Paging.PageNumber) (cəmi @Model.Paging.PageCount)
    @Html.PagedListPager(Model.Paging, page => Url.Action("Index", new { page }))
</div>



